:root {
  --cor-base: #ffffff;
  --cor-invert: #f6ce56;

  --splash-fundo: #780ac1;
  --splash-fore: #ffffff;
  --splash-secondcolor: #f6ce56;

  --cor-menu-off: #ffffff;
  --cor-menu-off-bg: #eedd90;
  --cor-hv0: #cc97ef;
  --cor-hv1: #ffffff;
  --cor-hv2: #bc67a8;
  --cor-hv3: #762678;
  --fg-color: #979797;
  --cor-shadow: #fdfaf1;
  --cor-leve: #e7e0c2;
  --cor-hvg: #f6ce56;
  --cor-texto: #6f6a67;
}
