:root {
  --cor-base: #7f6548;
  --cor-invert: #ffffff;

  --splash-fundo: #780ac1;
  --splash-fore: #ffffff;
  --splash-secondcolor: #7f6548;

  --cor-menu-off: #ffffff;
  --cor-menu-off-bg: #7f6548;
  --cor-hv0: #ebbb1c;
  --cor-hv1: #cb8e12;
  --cor-hv2: #bc67a8;
  --cor-hv3: #875d07;
  --fg-color: #979797;
  --cor-shadow: #695564;
  --cor-leve: #d6cfb2;
  --cor-hvg: #7f6548;
  --cor-texto: #6f6a67;
}
